﻿@{
   ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
   MWC Consulting<br />
   19 Horatio St, Annerley<br />
   QLD 4103, Australia<br />
   <abbr title="Phone">P:</abbr>
   0407 021 960
</address>

<address>
   <strong>Support:</strong>   <a href="mailto:m.corney@tpg.com.au">m.corney@tpg.com.au</a><br />
</address>
